* {
    box-sizing: border-box;
    margin: 0;
		padding: 0;
}
a {
	text-decoration: none;
}

html {
	font: 20px/1.618 Garamond, Cambria, sans-serif;
}
a:link {
	color: rgb(224, 222, 220); 
	background-color: transparent; 
	text-decoration: none;
}
a:visited {
	color: rgb(224, 222, 220);
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color:rgb(233, 97, 73);
	background-color: transparent;
	text-decoration: underline;
}
:root {
	--primary-color: rgb(116, 110, 110);
	--secondary-color: rgb(224, 222, 220);
	--tertiary-color: rgb(233, 114, 93);
}

.grid1 {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(4, 1fr); 
	grid-template-rows: repeat(4, 1fr); 
	margin: 4rem auto;
	padding: 4rem auto;
	max-width: 1300px;	
	height: 600px;
	
}

.boxa1 {
	grid-row: 1 / span 2;
	border-radius: 15px;
}

.headshot {
	border-radius: 15px;
	height: 100%;
	width: 100%;
}

.proComp {
	grid-column: 2 / span 3;
	display: block;
	border-radius: 15px;
	background-color:  rgb(224, 222, 220);
	font-size: 1rem;
	text-align: center;
	padding: 1rem;
}

.wcci {
	grid-column: 2 / span 2;
	border-radius: 15px;
	background-color: rgb(233, 114, 93);
	text-align: center;
	font-size: 2rem;
	padding: 1rem;
}

.education {
	display: block;
	grid-column: 4 / span 1;
	border-radius: 15px;
	background-color: rgb(233, 114, 93);
	text-align: center;
	font-size: 1.2rem;
	padding: 1rem;
	
}

.boxa4 {
	text-align: center;
	color: rgb(224, 222, 220);
	font-size: 1rem;
	grid-row-start: 3;
	grid-row-end:5;
	grid-column: 1 / span 4;
	padding-top: 3rem;
	background-color: rgb(116, 110, 110);
	border-radius: 15px;
}

h2 {
	text-align: center;
	font-size: 2rem;
}

h3 {
	display: inline-block;
	font-size: 30px;
	text-align: center;
}
.footerContainer {
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 15px;
	justify-content: center;
	color: rgb(255, 255, 255);
	background-color:rgb(116, 110, 110);
	text-align: center;
	height: 100px;
}
button {
	text-decoration: none;
	background-color:rgb(116, 110, 110);
	font-size: 20px;
	font:  rgb(255, 255, 255);
	padding: 7px 24px;
	border-radius: 8px;
}